@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Benne', serif;
    font-weight: 300px;
    font-size: 105%;
}

.container{
    width: 200vw;
    height: 200vh;
    display:grid;
    place-items: center;
    background-color: #CAF4F4;
}

.inner{
    background-color: #fff;
    padding:3rem 8rem;
    width: 40vw;
    border-radius: 1rem;
}

.inner h2{
    font-weight: 30px;
    margin:1rem 0 4rem 0;
}

li{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    list-style: none;
}

input:hover{
    cursor: pointer;
}

#submit, .btn{
padding: 1rem 2rem;
border:none;
font-size: 1rem;
display: block;
margin:auto;
text-transform: uppercase;
color:#fff;
}

#submit:hover{
color:cadetblue;
}