.white{
background-color: white;
width: 40px;
height: 40px;
}

.black{
background-color: black;
width: 40px;
height: 40px;
}
.row {
    display: flex;
    margin: -3px;
}

.board{
    border: 10px solid black;
   display: inline-block;
}

.App{
    margin-top: 13%;
    justify-content: center;
    display: flex;
}